{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Sai Sanjay Ponaganti</h1>
        <p class="lead">Aspiring Software Engineer</p>
        <hr class="my-4">
        <p>I'm a fresh graduate excited to embark on my professional journey. Eager to learn and grow, I bring a wealth of innovative ideas and a proactive approach to any opportunity that comes my way.</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more about me</a>
    </div>
{% endblock %}
