{% extends "base.html" %}

{% block content %}
    <h2>Projects</h2>
    <ul>
        <li><strong>Library Management System:</strong> Developed an interactive library management system using Python frameworks Tkinter, Flask, and SQL.</li>
        <li><strong>Online Hotel Booking System:</strong> A platform for managing hotel reservations, including room availability, bookings, and guest check-ins/check-outs. (Frontend: React.js, Backend: Spring Boot, Database: MySQL)</li>
        <li><strong>Responsive Job Career Website:</strong> A responsive career website developed using HTML, CSS, and Bootstrap that shows job openings and links to apply to those jobs.</li>
        <li><strong>Integrating Fully Convolutional Networks for Panoptic Segmentation:</strong> Designed fully convolutional networks enabling panoptic segmentation, advancing computer vision capabilities for complex scene understanding.</li>
    </ul>
{% endblock %}
